body {
    margin: 0;
    background-color: #181A18;
    font-family: 'Noto Sans TC', sans-serif;
}

table {
    margin: 10px auto 30px auto;
    width: 70vw;
}

th, td {
    min-width: 200px;
    text-align: left !important;
    padding: 10px !important;
}

tbody tr:nth-child(odd) {
    background-color: #2C2CAA;
}

tbody tr:nth-child(even) {
    background-color: #1a2c65;
}

tbody tr:hover {
    opacity: 0.8;
}

a {
    color: #DCDFBF;
}

a.dir, a.file, a.up {
    background-position: left !important;
}

h1 {
    text-align: center;
    margin: 10px;
}

#parentDirLinkBox {
    padding: 20px;
}

